<%= form.error_messages %>
<%= hidden_field_tag 'record[subject_id]', @subject.id %>
<p>
  <%= form.label :title, "Título" %>
  <%= form.text_field :title %>
</p>
<p>
  <%= form.label :body, "Corpo" %>
  <%= form.text_area :body, :size => "40x3" %>
</p>

<%= form.submit submit_text %>

<%= javascript_tag("$('record_title').focus();") %>