<%= form.error_messages %>
<%= hidden_field_tag 'event[subject_id]', @subject.id %>

<table>
  <tr>
    <td>
      <%= form.label :title, "Título" %>
      <%= form.text_field :title %>
    </td>
  </tr>

  <tr>
    <td width="70%">
      <table>
        <tr>
          <td>
            <%= image_tag("/images/body.png", :title => "Corpo") %>
          </td>

          <td>
            <%= form.label :body, "Corpo" %>
            <%= form.text_area :body, :size => "40x3" %>
          </td>
        </tr>
      </table>
    </td>
    <td>
      <table>
        <tr>
          <td>
            <%= image_tag("/images/date.png", :title => "Data") %>
          </td>

          <td>
            <%= form.label :date, "Data" %>
            <% date = form.object.date ? l(form.object.date) : nil  %>
            <%= calendar_field :event, :date, date, {:date_format=>'%d/%m/%Y', :lang =>  'pt-BR'} %>
          </td>
        </tr>

        <tr>
          <td>
            <%= image_tag("/images/time.png", :title => "Horário") %>
          </td>
          <td>
          <%= form.label :time, "Horário" %>
          <%= form.text_field :time %>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>

<%= form.submit submit_text %>

<%= javascript_tag("$('event_title').focus();") %>
<br/><br/>

