<% content_for :title do %>
  <h1> <%= @event.title %> </h1>
<% end %>

<% content_for :top_links do %>
  <%= link_to image_tag("/images/edit.png", :title => "Editar"), edit_subject_event_path(@subject.id, @event.id) %>
  <%= link_to image_tag("/images/delete.png", :title => "Excluir"), subject_event_path(@subject.id, @event.id), :method => "delete", :confirm => "Excluir #{@event.title}?"%>
<% end %>

<% content_for :bottom_links do %>
  <%= link_to "Ir para assunto", subject_path(@subject.id) %>
<% end %>

<table id="event_attributes">
  <tr>
    <td width="75%">
      <table id="event_body">
        <tr>
          <td width="20%">
            <%= image_tag("/images/body.png", :title => "Corpo") %>
          </td>

          <td>
            <% if @event.body.empty? %>
              Sem descrição
            <% else %>
              <p>
                <%= RedCloth.new(@event.body, [:filter_html]).to_html %>
              </p>
            <% end %>
          </td>
        </tr>
      </table>
    </td>

    <td align="center">
      <table id="date_and_time">
        <% if @event.date %>
          <tr id="event_date">
            <td>
              <%= image_tag("/images/date.png", :title => "Data") %>
              <%= l(@event.date) %>
            </td>
          </tr>
        <% end %>

        <% if @event.time %>
          <tr id="event_time">
            <td>
               <%= image_tag("/images/time.png", :title => "Data") %>
               <%= l(@event.time, :format => :short) %>
            </td>
          </tr>
        <% end %>
      </table>
    </td>
  </tr>
</table>

<br/>

<div id="created_at">
  <i>
    <%= l(@event.created_at) %>
  </i>
</div>

