
<% content_for :title do %>
  <h1>Assuntos</h1>
<% end %>

<% content_for :top_links do %>
  <%= link_to image_tag("/images/add.png", :title => "Novo") + "Novo", new_subject_path %>
  <%= link_to "Gerar Ata", new_ata_path %>
<% end %>

<table id="subjects">
  <% @subjects.each do |subject| %>
    <tr id="<%= subject.id %>">
      <td> <%= link_to subject.title, subject_path(subject.id) %> </td>
      <td>
        <%= link_to image_tag("/images/delete.png", :title => "Excluir"), subject_path(subject.id), :method => "delete", :confirm => "Excluir #{subject.title}?" %> |
        <%= link_to image_tag("/images/edit.png", :title => "Editar"), edit_subject_path(subject.id) %>
      </td>
    </tr>
  <% end %>
</table>

<br/>

