<h1><%= @subject.title %>
    <%= link_to image_tag("/images/delete.png", :title => "Excluir"), subject_path(@subject.id), :method => "delete", :confirm => "Excluir #{@subject.title}?" %>
    <%= link_to image_tag("/images/edit.png", :title => "Editar"), edit_subject_path(@subject.id) %>
</h1>

<%= link_to image_tag("/images/add.png", :title => "Nova Tarefa") + "Nova Tarefa", new_subject_task_path(@subject.id) %>

<br/><br/>

<table id="tasks">
  <% @tasks.each do |task| %>
    <tr id="task_<%= task.id %>">
      <td><%= link_to task.title, subject_task_path(@subject.id, task.id) %></td>
      <td>
        <%= link_to image_tag("/images/delete.png", :title => "Excluir"), subject_task_path(@subject.id, task.id), :method => "delete", :confirm => "Excluir #{task.title}?" %> |
        <%= link_to image_tag("/images/edit.png", :title => "Editar"), edit_subject_task_path(@subject.id, task.id) %>
      </td>
    </tr>
  <% end %>
</table>

<br/><br/>

<%= link_to image_tag("/images/back_to_list.png", :title => "Ir para Lista de Assuntos") + "Lista de Assuntos", subjects_path %>
